@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}


